/myEnv/
/machine_learning/BERT_model.pkl
/machine_learning/BERT_model_clean_6_24.pkl
/machine_learning/BERT_model_lemmatized_6_24.pkl
/machine_learning/BERT_model_clean_6_16_aug.pkl
/fakeNewsVenv/
/machine_learning/BERT_model_clean_6_16_aug5.pkl
/machine_learning/AlephBERT_tokenizer_lemmatized_6_24.pkl
/group_242682556373559_10_posts.csv
/group_242682556373559_100_posts.csv
/group_503350980581730_100_posts.csv
/group_corona2020israel_100_posts.csv
/page_Health.gov.il_100_posts.csv
/page_Midaat_100_posts.csv
/page_sheker2020_100_posts.csv
