.screen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
}

.link {
    margin: 20px;
}

.image{
    align-self: center;
    height: 40px;
    width: 300px;
    display: flex;
    margin: -30px -30px -30px -170px;
}

.icon{
    align-self: center;
    height: 60px;
}

.label {
    align-self: center;
    margin: 10px;
}

.buttom {
    margin-bottom: 20px;
    align-items: baseline;
}

.fieldsLogin {
    margin-top: 40px;
}