.post {
    font: bold;
    font-size: x-large;
    align-items: baseline;
    text-align: right;
    line-height: 30px;
    margin: 10px 0;    
}

.list {
    list-style-type: decimal;
    align-self: start;
    direction: rtl;
    font: bold;
    font-size: x-large;
    font-family: Calibri;

  }