.btn {
    text-align: center;
    margin-left:auto;
    width: 300px;
    padding: 50px;
    margin: 20px;
    font: normal;
    padding: 25px;
    cursor: pointer;
    font-size: larger;
    font-style: inherit;
    border-radius: 4px;
    background-color: #b4214d;
    color: white;
    margin: 15 1rem;
  }
  
  .btn:hover {
    background-color: #9c1458;
    border-color: #9c1458;
  }
  
  .btn--alt {
    background-color: transparent;
    color: #800040;
  }
  
  .btn--alt:hover {
    background-color: #f8dae9;
  }
  