.screen {
    display: flex;
    flex-wrap: wrap;
    /* background: rgb(206, 200, 240); */
    justify-content: center;
    height: 100vh;
    /* align-items: stretch; */

}

.form {

    height: 60%;
    width: 30%;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    margin-top: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}
.h1 {
    font-size: larger;
    align-content: flex-start;
    font: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #5f72df;
    margin: 10px;
}

.urlInput {
    height: 40px;
    border-radius: 5px;
    /* width: 70%; */
    /* padding: 5px 5px; */
    margin: 20px;
    /* box-sizing: border-box; */
}

.submitButton {
    border: 2px solid black;
    color: black;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

.inputRow {
    flex-direction: row;
    justify-items: start;
}

.post {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}

.table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px;
    text-align: left;
    font-size: large;
}
  
.th, .td {
    /* padding: 8px; */
    display: flex;
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding: 40px;
    
}
    /* align-content: center;
    text-align: center;
    width: 20;
    height: 10;
    margin: 20px;
    font: normal;
    padding: 25px;
    cursor: pointer;
    font-size: larger;
    font-style: inherit;
    border-radius: 4px;
    background-color: #b4214d;
    color: white;
    margin: 15 1rem;
  } */

  .fiels {
      display: flex;
  }