.screen {
    display: flex;
    flex-wrap: wrap;
    /* background: rgb(206, 200, 240); */
    justify-content: center;
    height: 100vh;
    /* align-items: stretch; */

}

.link {
    margin: 20px;
}

.image{
    align-self: center;
    height: 40px;
    width: 300px;
    display: flex;
    margin: -30px -30px -30px -170px;
}

.icon{
    align-self: center;
    height: 60px;
}

.label {
    align-self: center;
    margin: 10px;
}

.info {
    align-self: center;
    height: 30px;
}

.buttom {
    
}